<!DOCTYPE html>
<html lang="en">
  <%- include head.ejs %>

  <body>
    <h2>Enter new Message</h2>
    <form method="POST" action="/messages/new-message">
        <div class="Message_container">
        <input type="text" name="title" placeholder="Title" />
        <textarea  name="message" placeholder="Message" rows='9' cold='9'></textarea>
        <button type="submit">Submit!</button>
      </div>
      </form>
  </body>
</html>
